
:root {
    --primary-color: #2C3E50; 
    --secondary-color: #34495E; 
    --accent-color: #7F8C8D; 
    --text-color: #333;
    --bg-color: #ECF0F1; 
    --hover-color: #BDC3C7; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(/img/fondocafederecha.jpg);
    background-size: cover;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px var(--bg-color);
    font-size: 2em; /* Títulos más grandes */
}

p {
    color: var(--bg-color);
    text-align: center;
    text-shadow: 2px 2px 5px var(--text-color);
}

/* Estilos de la Barra de Navegación */
.navbar {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-toggler-icon {
    background-color: var(--accent-color);
}

.navbar-nav .nav-item a {
    color: --text-color;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item a:hover {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

/* Estilos del Grid de Inicio */
.image-container {
    position: relative;
    overflow: hidden;
    padding: 30px;
}
.img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-color);
    text-shadow: 6px 6px 3px var(--text-color);
    font-size: 1.8em; /* Títulos más grandes */
    text-align: center;
    opacity: 0;
}

.image-container:hover .img-title {
    opacity: 1;
}

.img-link {
    display: block;
    text-decoration: none;
}

/* Estilos del Formulario de Contacto */
form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    background-image: url('img/TexturaFondo2.jpg');
    padding: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
}

select {
    margin-bottom: 20px;
}

button {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}

.card {
    margin: auto;
    padding: 10px;
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.card-p {
    margin: auto;
    color: var(--bg-color);
    background-color: var(--primary-color);
}

/* Estilo del Carrusel */
#carouselExample {
    padding: 50px;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border: 5px rgb(255, 255, 255) groove;
    border-radius: 20px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

.carousel-caption h5 {
    font-size: 2em;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 1.2em;
}

/* Estilo de los botones de control del carrusel */
.carousel-control-prev,
.carousel-control-next {
    max-width: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
}